<table class="indicator synthese">
  <tr>
    <td><div class="circle due"><h1><%= issuesopened.length %></h1></div></td>
    <td><div class="circle today"><h1><%= issuesclosed.length %></h1></div></td>
  </tr>
  <tr>
    <td><%= l(:label_open_issues_plural) %></td>
    <td><%= l(:label_closed_issues_plural) %></td>
  </tr>
</table>